*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: linear-gradient(75deg, #ff4a86, #ffa17a, #ffc580, #fffefb);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #ffc580;
  width: 8px;
  height: 8px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}


.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: grow 300ms ease-in-out;
}

@keyframes grow {
  from {
    transition: scale(0);
  }

  to {
    transition: scale(1);
  }
}

.main-container {
  flex-grow: 1;
  background-color: #f9f2ea;
  height: 90vh;
  max-width: 800px;
  padding: 30px;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
}

/* Sidebar.js */
.sidebar {
  height: 90vh;
  background-color: white;
  max-width: 30vw;
  padding: 30px;
  border-radius: 15px 0px 0px 15px;
}

.menu {
  padding: 15px;
}

.profile-image {
  width: 100px;
  margin: auto;
  height: auto;
  display: block;
}

.welcome {
  text-align: center;
  font-weight: bold;
  color: #100c08;
}

.date-today {
  text-align: center;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
}

.link-style-black {
  text-decoration: none;
  color: #100c08;
}

hr.border {
  background: #ffbc9f;
  border: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin: 32px 0;
}

.nav {
  cursor: pointer;
}

.card {
  display: flex;
  flex-flow: column wrap;
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgb(230, 229, 229);
  max-width: 60vw;
  height: 100%;
}

/* Button */
.simple-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffa17a; */
  border-radius: 8px;
  /* color: white; */
  padding: 15px 15px;
  margin: 5px;
  border: none;
  height: 30px;
  box-shadow: 0px 8px 15px rgba(0 0 0 / 0.10);
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

.simple-button:hover {
  background-color: #ffbe7e;
}

a {
  text-decoration: none;
}

/* || Appointments View */

#time {
  margin-top: 8px;
}

.appointment-action {
  display: flex;
  margin: 10px 0;
}

.button-group-link {
  padding: 0 8px;
  text-decoration: none;
}

.appointment-time {
  background-color: #fef0f0;
  border-radius: 10px;
  padding: 4px 6px;
  color: #ff4a86;
  display: flex;
  height: 100%;
  align-items: center;
}

.new-patient-flag {
  display: flex;
  color: black;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

#appointment-card a {
  text-decoration: none;
}

#patient-link {
  font-weight: bold;
  margin-top: 4px;
}

#patient-link:hover {
  color: #eb8153;
  cursor: pointer;
}

#visit-type {
  color: #6f6f6f;
  font-size: 15px;
  text-decoration: none;
  margin-top: 4px;
}

.links-to-patient-action {
  text-align: end;
  margin: 5px;
}

#appt-notes,
#treatment-plan {
  display: inline-block;
  margin-bottom: 8px;
  color: #6f6f6f;
  font-size: 15px;
  text-decoration: none;
  margin-top: 4px;
}